[Unit]
Description=Telegram Bot
After=network.target

[Service]
Type=simple
User=techman
WorkingDirectory=/home/techman/Code/Telegram-bots
Environment="PATH=/home/techman/Code/Telegram-bots/venv/bin"
ExecStart=/home/techman/Code/Telegram-bots/venv/bin/python bot.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target